<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.SmartHomeClient">
    <uses-permission android:name="android.permission.INTERNET" />

    <application 
        android:label="SmartHome Client" 
        android:icon="@drawable/icon"
        android:usesCleartextTraffic="true"> 
    </application>
</manifest>